.chatRoomContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Makes the container take up the full height of the viewport */
}

/* input {
    overflow: scroll;
} */
.chatContainer {
  flex: 1; 
  
}

header{

    background-color: #e0e0e0; 
}
footer {
  display: flex;
  align-items: center;
  padding: 1rem; 
  background-color: #e0e0e0; 
}


  
.received {
    align-self: flex-start; 
    background-color: #e0e0e0; 
    color: black;
  }
  
  .sent {
    align-self: flex-end; 
    background-color: #007bff; 
    color: white;
  }
  .chatContainer{
    overflow-x:hidden ;
  }