/* General container settings */
.container-fluid {
    height: 100vh; /* Full screen height */
  }
  
  .row {
    height: 100%;
  }
  
  /* Chatroom hidden on small screens */
  .Chatroom {
    border-radius: 20px;
    background-color: #e9dac8;
    display: flex;
    flex-direction: column;

  }
  
  /* Style for 'No user selected' message */
  .no-user-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5rem;
    color: #666;
  }
  
 

    
  .s-tools{

    background-color: blueviolet;
  border-top-right-radius: 30px;
    border-left: 9px solid black;
  border-bottom-right-radius: 30px;
   
  }
  