.chatRoomContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Makes the container take up the full height of the viewport */
}

.chatContainer {
  flex: 1; 
}


footer {
  display: flex;
  align-items: center;
  padding: 1rem; 
  background-color: #c2c2c2; 
  border-radius: 20px;
  width: 88%;
}


  
.received {

    background-color: #e0e0e0; 
    color: black;
    display: inline-block;
    width: auto;
    height: auto;
    word-wrap: break-word; 
  }

  .sent {

    background-color: #007bff; 
    color: white;
    display: inline-block;
    width: auto;
    height: auto;
    word-wrap: break-word; 
  }

@media (max-width: 768px) {
  .sent,
  .received {
    max-width: 90%; /* Adjust max width on small screens */
  }
}
  .chatContainer{
    overflow-x:hidden ;
  }


  .message{
    
    font-size: 13px;
  }
  .timestamp {
    align-self: flex-end; 
    font-size: 9px;
   
  }


