
header{
    background-color: #c2c2c2;
    border-radius: 14px;
    width: 95%;
    margin: 10px;
    
    
}
strong {
    font-size: larger;
    margin: 3%;
    color: blue;
}
/* SideBar.css */

.sideContainer{
    overflow-x: hidden;
  
  } 

  .users{

background-color: #a1a1c7cc;
    border-radius: 10px;
    
    
  }
  .form-control {
     border-radius: 10px;
  }
