/* Default transparent navbar */
.navbar {
    transition: background-color ,0.5s ease-in-out, height 1s ease-in-out;
    background-color:  blue transparent black transparent;
    height: 70px; 
    
  }
  
  /* Navbar when scrolled with animation */
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9); /* Solid background */
    animation: expandNavbar 0.9s forwards;
  }
  
  /* Keyframe for smooth height expansion and return to normal */
  @keyframes expandNavbar {
    0% {
      height: 70px;
    }
    30% {
      height: 100px; /* Increase height */
    }
    30% {
        height: 40px; /* Increase height */
      }
    20% {
        height: 10px; /* Increase height */
      }
    100% {
      height: 70px; /* Back to normal height */
    }
  }

  
  
  /* Optional: Additional navbar styling */
  .navbar .nav-link {
    color: rgb(59, 39, 235);
    transition: color 0.3s ease-in-out;
    font-weight: bold;
  }
  
  .navbar.scrolled .nav-link {
    color: lightgray;


  }
  


.navbar-brand{

    color: #4d5761;
}